@(title: String, items: Set[(String, String)])

<!DOCTYPE html>
<html>
<head>
  <title>@title</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <style>
* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 20%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
  width: 90%;
  margin: auto;
}

h2 {
  text-align: center;
}
.exampleSentence {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}


    </style>
  <script>





    $(document).ready(function(){

            var petArray = new Array("hond", "kat", "spin");
            var personArray = new Array("jan", "piet", "klaas");

            $.each(personArray, function( index, personName){
                createEntity(personName);
            });

            $.each(petArray, function( index, petName){
                createLexicalEntry(petName);
            });

            $("#sentence").keypress(function (evt) {
                evt.preventDefault();
            });



        $(document).on('click', '.word', function (event) {
             console.log("Id: "+$(this).attr("id"));
             $('#sentence').val($('#sentence').val() + $(this).attr("id")+ " ");
           }
        );

        $(document).on('click', '.exampleSentence', function (event) {
             var sentence = $(this).text();
             console.log("HtmlText: "+sentence);
             $('#sentence').val(sentence);
           }
        );

        function createLexicalEntry(name) {
            var element = '<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent word" id="'+name+'"> \
        '+name+'</button>';
            console.log("Added Lexical Entry");
            $("#lexicalEntries").append(element);
        }

        function createNewPet(personName, petName) {
            var element = '<label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"> \
        <input type="checkbox" id="'+personName+'-'+petName+'" class="mdl-checkbox__input" name="'+personName+'-owns-'+petName+'" value="true"> \
        <span class="mdl-checkbox__label">'+petName+'</span> \
    </label>';
            console.log("Added New Pet List Entry with petName: "+petName+" for person: "+personName);
            console.log("ELEM: "+element);
            return element;
        }


        function createPerson(name) {
        var element = '<div class="column modelPerson" style="border: 3px solid black" id="'+name+'"> \
    <h2>'+name+'</h2> \
    is een ...<br> \
        <input type="hidden" name="'+name+'-name" value="'+name+'" /> \
        <input type="radio" class="gender" name="'+name+'-gender" value="male"> Man<br> \
    <input type="radio" class="gender" name="'+name+'-gender" value="female"> Vrouw<br> \
    <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="'+name+'-student"> \
        <input type="checkbox" id="'+name+'-student" class="mdl-checkbox__input" name="'+name+'-student" value="true"> \
        <span class="mdl-checkbox__label">Student</span> \
    </label> \
    heeft een ... \
    <div class="pets"> \
    </div> \
    <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent remove-div"> \
        Remove \
    </button> \
</div>';
            $("#personModel").append(element);
            console.log("petsss: "+petArray);
            $.each(petArray, function( index, petName){
                var petEntry = createNewPet(name, petName);
                $("#personModel").find('#'+name).find('div.pets').append(petEntry);
                console.log("Added pet: "+petName+" for person: "+name);
            });
            console.log("Added Person: "+element);
        }

        function createEntity(name) {
            var newModelPerson =createPerson(name);
            createLexicalEntry(name);
            console.log("Added Entity: "+name);
        }

        $(document).on('click', '#addPersonButton', function (event) {
            event.preventDefault();
            var name = $('#newPerson').val();
            console.log("NewNeame: "+name);
            console.log("OldNeames: "+personArray);
            if (name.length>10) {
                alert("Name can't be longer than 10 characters. ");
            } else {
                if (jQuery.inArray(name,personArray)!=-1) {
                    alert("Person with this name already exists.  ");
                } else {
                    personArray.push(name);
                    console.log("Pusshed: "+personArray);
                    createEntity(name);
                }
            }
        });

        $(document).on('click', '#addPetButton', function (event) {
            event.preventDefault();
            var petName = $('#newPet').val();
            if (petName.length>10) {
                alert("Name of Pet can't be longer than 10 characters. ");
            } else {
                if (jQuery.inArray(petName,petArray)!=-1) {
                    alert("Pet with this name already exists.  ");
                } else {
                    petArray.push(petName);
                    createLexicalEntry(petName);
                    $('.modelPerson').each(function(){
                        var personName = $(this).attr("id");
                        console.log("personName: "+personName);
                        var newPetListEntry = createNewPet(personName, petName);
                        $(this).find('div.pets').append(newPetListEntry);
                    });
                }
            }
        });

        $(document).on('click', '#emptySentenceField', function (event) {
            $("#sentence").val("");
        });

        $(document).on('click', '.remove-div', function (event) {
            var id = $(this).parent().attr('id');
            console.log("actualWord: "+id);
            $(this).parent().remove();
            $(".word#"+id).remove();
        });

        $(document).on('submit', '#parseSentenceForm', function (e) {
            console.log("hello, world!");
            e.preventDefault();
            var formData = $('#parseSentenceForm').serializeArray();
            formData.push({name: 'pets', value: petArray.join(",")});
            $.post("/parseSentence", formData,
            function(data){
                $("#results").html(data);
            });
        });

        $(document).on('change', 'input[type=radio][class=gender]', function (event) {
            if (this.value == 'male') {
                console.log("Male");
                $(this).parent().css("background-color", "LightSkyBlue");
            }
            else if (this.value == 'female') {
                console.log("Female");
                $(this).parent().css("background-color", "LightPink ");
            }
        });

    });
    </script>
</head>
<body>

<h2>Model</h2>

<div style="padding: 10px">
  <p>This application is an implementation of a part of the thesis I wrote as part of the Research Master in
    Linguistics. The thesis can be found <a href="http://arts.studenttheses.ub.rug.nl/17586/">here</a>. This application is an implementation of the linguistics theory
    in the Scala programming language. It is best view on a desktop computer using Chrome. </p>

  <p><b>How it works: </b>First you have to describe a situation (also called a model) . You can then enter
    sentences. The application figures out whether the sentences are true or false in a particular
    model. For example, if you want to create a situation where Jan has a dog, you select the checkbox
    next to "dog" under Jan. Then you enter a sentence, for example "Jan has a dog", and you can verify
    that the sentence is true for that situation. You can then modify the model and enter different sentences.
  </p>

  <p>At the bottom you have a bag of words. Click one of the words to add it to the sentence.
    On the right there is also a list of example sentences that can be tried out.</p>
</div>


<form action="/parseSentence" id="parseSentenceForm" method="POST">
  <div class="row" id="personModel">
  </div>
  <div class="row">
    <div style="width: 40%; display: inline-block; float:left; padding: 20px;">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="addPersonButton"
              style="float: right">Add person</button>
      <div style="overflow: hidden; padding-right: .5em;">
        Add a person: <input class="mdl-textfield__input" type="text" id="newPerson" style="width: 100%">
      </div>
    </div>

    <div style="width: 60%; display: inline-block; float:left; padding: 20px;">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="button1"
              style="float: right">Parse</button>
      <button type="reset" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="emptySentenceField"
              style="float: right">Remove</button>
      <div style="overflow: hidden; padding-right: .5em;">
        Parse a sentence: <input class="mdl-textfield__input" type="text" id="sentence" name="sentence" style="width: 100%">
      </div>
    </div>

  </div>
  <div class="row">

    <div style="width: 40%; display: inline-block; float:left; padding: 20px;">
      <button type="button" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" id="addPetButton"
              style="float: right">Add pet</button>
      <div style="overflow: hidden; padding-right: .5em;">
        Add a pet: <input class="mdl-textfield__input" type="text" id="newPet" style="width: 100%">
      </div>
    </div>

    <div style="width: 60%; display: inline-block; float:left; padding: 20px;" id="results">

    </div>
  </div>
</form>

@lexicalEntries(items)

</body>
</html>
